@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --DarkBlue: hsl(249, 10%, 26%);
    --GrayishBlue: #b9b6d3;
    --Green: #38cc8c;
    --Red: #ff7a7a;
    --Blue: hsl(248, 32%, 49%); 
    --white:#ffffff;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    Font-size: 16px;
    background-color:var(--Red);
    background-image:url(./images/bg-intro-mobile.png);
    
}
.main{
    width:90%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
}
.main__section1__h1{
    font-weight:700;
    color:var(--white);
    text-align:center;
    margin-top:4rem;
}
.main__section1__p{
    color:var(--white);
    text-align:center;
    font-weight:400;
    font-size:15px;
    margin-top:2rem;
}


.main__section2__offer{
    background-color:var(--Blue);
    margin:4rem auto;
    display: block;
    padding:1.5rem 3rem;
    border-radius:1rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    border:none;
    cursor: pointer;
    width:100%;
}
.main__section2__offer--span1{
    color:var(--white);
    font-weight:bolder;
    font-family: 'Poppins', sans-serif;
    font-size:15px;
}
.main__section2__offer--span2{
    color:var(--GrayishBlue);
    font-weight:normal;
    font-family: 'Poppins', sans-serif;
    font-size:15px;
    
}

/*SEGUNDA SECCION FORMULARIO*/
.formulario{
  background-color:var(--white);
  padding:0.5rem;
  border-radius:1rem;
}
.form{
  width:95%;
  margin:0 auto;
  display: flex;
  flex-direction: column;
}
.form p{
    text-align:right;
    color:var(--Red);
    display:none;
    justify-content:end;
    align-items:center;
    font-size:14px;

}
.form p img{
    margin:0 0.7rem;
}
.form__input{
  margin:0.7rem;
  padding:1rem ;
  border-radius:0.5rem;
  border:1px solid var(--GrayishBlue);
  font-weight:600;
  font-family: 'Poppins', sans-serif;
  font-size:16px;
}


#claim{
    background-color:var(--Green);
    width:95%;
    margin:0 auto;
    display: block;
    padding:1.2rem;
    border:none;
    border-radius:0.5rem;
    color:var(--white);
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    font-weight:500;
    cursor: pointer;
    margin-top:1rem;
}
.form__terms{
    font-weight:200;
    font-size:11px;
    width:90%;
    margin:1rem auto;
    text-align: center;
    display: block;
    color:var(--GrayishBlue);
}
.form__terms span{
    color:var(--Red);
    font-weight:bold;
}

/*-----------------DESKTOP--------------------*/
@media screen and (min-width:1120px) {
     body{
       display: flex;
       align-items:center;
       justify-content: center;
     }
     .main{
        width:95%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items:center;
        height:100vh;
     }
}